<div max-container="" x-data="{modals: 0}" class="w-layout-blockcontainer w-container"><div class="navbar_container"><div class="navbar_links-left"><div class="nav_menu-wrapper"><div class="navbar-mobilelinks-top"><a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="navbar_logo-link w-inline-block"><svg class="nav_menu-icon" viewbox="0 0 24 31" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V30.411H8.28404C8.28404 30.411 8.38829 29.8048 8.38829 28.8717C8.38829 26.7262 7.91515 22.9219 4.85174 20.0826C2.47799 17.8973 1.94871 14.4917 1.94871 11.7401C1.94871 9.30753 2.37374 7.44921 2.37374 7.44921L14.034 30.411H23.4247V0H15.0925C15.0925 0 14.884 0.685902 14.884 1.90617C14.884 3.44546 15.2529 5.83814 16.8889 8.66948C19.3669 12.9604 20.7382 16.1984 20.7382 22.7225C20.7382 23.855 20.7382 25.1152 20.6339 26.487L7.38587 0H0Z" fill="white"></path></svg></a><svg class="nav_menu-icon is-close" viewbox="0 0 30 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0ZM8.86243 8.86243C8.37918 9.34567 8.37918 10.1292 8.86243 10.6124L13.2374 14.9874L8.86243 19.3625C8.37918 19.8457 8.37918 20.6292 8.86243 21.1125C9.3457 21.5957 10.1292 21.5957 10.6124 21.1125L14.9874 16.7375L19.3624 21.1125C19.8457 21.5957 20.6292 21.5957 21.1124 21.1125C21.5957 20.6292 21.5957 19.8457 21.1124 19.3624L16.7374 14.9874L21.1124 10.6124C21.5957 10.1292 21.5957 9.34567 21.1124 8.86243C20.6292 8.37918 19.8457 8.37918 19.3624 8.86243L14.9874 13.2374L10.6124 8.86243C10.1292 8.37918 9.34567 8.37918 8.86243 8.86243Z" fill="white"></path></svg></div><div class="navbar-links-main">{% for link in linklists['main-menu'].links %}    <div li-for="link in linklists['main-menu'].links">
                                    
                            <a li-object:href="link.url" li-object="link.title" href="{{ link.url }}" class="button is-nav w-button">{{ link.title }}</a>
                            
                        </div>
{% endfor %}<div data-body="blue" class="navbar-mobilelinks-sublinks"><a button-size="nav" href="/cart" class="button alt-font w-button"></a>{% if customer %}    <div li-if="customer">
    <a li-object:href="routes.account_url" href="{{ routes.account_url }}" class="button w-inline-block"><div class="alt-font"></div></a>    </div>
{% endif %}{% unless customer %}    <div li-unless="customer">
    <a li-object:href="routes.account_login_url" href="{{ routes.account_login_url }}" class="button w-inline-block"><div class="alt-font"></div></a>    </div>
{% endunless %}</div></div><div class="navbar-mobilelinks-bottom"><img src="{{ 'mobile-nav_img.png' | asset_url }}" loading="lazy" alt="" class="nav_content-bottom">
</div></div></div><a href="{{ routes.root_url }}" data-logosize="" li-object:href="routes.root_url" id="w-node-_1f4a994c-7640-c194-e1f7-4193b5553f7d-b641c10b" class="navbar_logo-link w-nav-brand"><svg viewbox="0 0 156 40" fill="currentcolor" height="100%"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.266724V39.7334H10.7508C10.7508 39.7334 10.8861 38.9467 10.8861 37.7357C10.8861 34.9514 10.2721 30.0142 6.29647 26.3294C3.21589 23.4934 2.529 19.0737 2.529 15.5027C2.529 12.3458 3.08059 9.93414 3.08059 9.93414L18.2129 39.7334H30.4V0.266724H19.5867C19.5867 0.266724 19.3161 1.15687 19.3161 2.74051C19.3161 4.73816 19.7949 7.84333 21.918 11.5178C25.1339 17.0864 26.9135 21.2887 26.9135 29.7555C26.9135 31.2252 26.9135 32.8606 26.7782 34.6409L9.58521 0.266724H0Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M115.488 0.266724V17.7118H106.718V0.266724H97.3333V39.7334H106.718V19.7043H115.488V39.7334H124.8V0.266724H115.488Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M94.7695 27.9544C93.1115 29.798 87.7333 31.3102 85.1634 31.3102C78.8007 31.3102 70.7178 27.5816 70.7178 14.6142C70.7178 8.6898 73.6194 5.75868 77.3499 5.75868C82.4898 5.75868 87.4639 10.9477 88.5519 15.7328L94.7695 4.64008C94.7695 4.64008 89.381 0 80.7385 0C70.9873 0 63.7334 9.60124 63.7334 21.4915C63.7334 32.6877 70.7178 40 81.3603 40C87.8576 40 96.2099 35.681 94.7695 27.9441V27.9544Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M51.4106 0.277074V36.5351C51.4106 36.5351 49.9737 36.7938 47.985 36.7938C42.6437 36.7938 37.7813 34.5271 37.7813 27.0022C37.7813 23.5865 38.8121 19.9535 40.3114 16.6827C42.4355 11.9939 45.7256 8.15384 45.6528 2.99927C45.6528 2.21263 45.5799 1.10512 45.4445 0.266724H33.8665V28.3271C33.8665 31.0079 34.4287 32.902 36.3445 34.9618C38.7288 37.5391 43.2268 39.7334 51.6084 39.7334H61.3331V0.277074H51.4001H51.4106Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M145.811 0.277074V36.5351C145.811 36.5351 144.374 36.7938 142.385 36.7938C137.044 36.7938 132.181 34.5271 132.181 27.0022C132.181 23.5865 133.212 19.9535 134.712 16.6827C136.836 11.9939 140.126 8.15384 140.053 2.99927C140.053 2.21263 139.98 1.10512 139.845 0.266724H128.267V28.3271C128.267 31.0079 128.829 32.902 130.745 34.9618C133.129 37.5391 137.627 39.7334 146.009 39.7334H155.733V0.277074H145.8H145.811Z" fill="currentColor"></path></svg></a><div class="navbar_links-right"><div class="navbar_links-right-desktop"><a href="/collections/nuchu" class="button w-button">shop</a>

<style>
    .localization-form .disclosure {
        position: relative;
      }
      
      .localization-form .disclosure__list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        display: none;
      }
      
      .localization-form .disclosure__list[aria-hidden="false"] {
        display: block;
      }
      
      .localization-form .disclosure__item {
        padding: 10px;
        cursor: pointer;
      }
      
      .localization-form .disclosure__item:hover {
        background: #f0f0f0;
      }
      
    </style>
    
    {% assign allowed_currencies = "EUR,GBP" | split: "," %}
{% assign displayed_currencies = "" %}
{% if localization.available_countries.size > 1 %}
  <localization-form>
    {% form 'localization' %}
      <div class="disclosure locale_dropdown">
        <button type="button" class="disclosure__button button is-icon" aria-expanded="false" aria-controls="CountryList">
          {{ localization.country.currency.symbol }}

          <svg class="image_icon" width="100%" viewBox="0 0 13 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.08018 7.59453C6.84409 7.85417 6.52407 8 6.1904 8C5.85673 8 5.53671 7.85417 5.30062 7.59453L0.551226 2.36676C0.315131 2.10667 0.182539 1.75396 0.182617 1.38622C0.182696 1.01849 0.315439 0.665848 0.551645 0.40588C0.787852 0.145913 1.10817 -8.66303e-05 1.44214 3.85644e-08C1.77611 8.67074e-05 2.09636 0.146252 2.33246 0.406342L6.1904 4.65437L10.0483 0.406342C10.2857 0.153666 10.6037 0.0137546 10.9338 0.0167409C11.264 0.0197273 11.5798 0.165373 11.8134 0.422308C12.047 0.679244 12.1795 1.02691 12.1826 1.39043C12.1856 1.75395 12.0588 2.10423 11.8296 2.36583L7.08102 7.59546L7.08018 7.59453Z" fill="currentColor"></path></svg>
        </button>

        <ul id="CountryList" role="list" class="disclosure__list locale_list" hidden>
          {% for country in localization.available_countries %}
            {% if allowed_currencies contains country.currency.iso_code %}
              {% unless displayed_currencies contains country.currency.iso_code %}
                {% assign displayed_currencies = displayed_currencies | append: country.currency.iso_code | append: "," %}
                <li class="disclosure__item locale_item" tabindex="-1">
                  <a class="button" href="#"{% if country.currency.iso_code == localization.country.currency.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                    {{ country.currency.symbol }}
                  </a>
                </li>
              {% endunless %}
            {% endif %}
          {% endfor %}
        </ul>

        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{% endif %}

{% if localization.available_languages.size > 1 %}
  <localization-form>
    {% form 'localization' %}
      <div class="disclosure locale_dropdown">
        <button type="button" class="disclosure__button button is-icon" aria-expanded="false" aria-controls="LanguageList">
            {{ localization.language.iso_code | downcase }}

          <svg class="image_icon" width="100%" viewBox="0 0 13 8" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.08018 7.59453C6.84409 7.85417 6.52407 8 6.1904 8C5.85673 8 5.53671 7.85417 5.30062 7.59453L0.551226 2.36676C0.315131 2.10667 0.182539 1.75396 0.182617 1.38622C0.182696 1.01849 0.315439 0.665848 0.551645 0.40588C0.787852 0.145913 1.10817 -8.66303e-05 1.44214 3.85644e-08C1.77611 8.67074e-05 2.09636 0.146252 2.33246 0.406342L6.1904 4.65437L10.0483 0.406342C10.2857 0.153666 10.6037 0.0137546 10.9338 0.0167409C11.264 0.0197273 11.5798 0.165373 11.8134 0.422308C12.047 0.679244 12.1795 1.02691 12.1826 1.39043C12.1856 1.75395 12.0588 2.10423 11.8296 2.36583L7.08102 7.59546L7.08018 7.59453Z" fill="currentColor"></path></svg>
        </button>

        <ul id="LanguageList" role="list" class="disclosure__list locale_list" hidden>
          {% for language in localization.available_languages %}
            <li class="disclosure__item locale_item" tabindex="-1">
              <a class="button" href="#"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}">
                {{ language.iso_code | downcase }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{% endif %}





<a li-object:href="routes.root_url" href="{{ routes.root_url }}" class="button w-inline-block"><svg class="image_icon" width="100%" viewbox="0 0 18 18" fill="none"><path d="M16.8001 7.42962L9.87724 0.506732C9.55268 0.182272 9.11254 0 8.65362 0C8.19469 0 7.75455 0.182272 7.43 0.506732L0.50711 7.42962C0.345744 7.58999 0.217826 7.78082 0.130777 7.99101C0.0437271 8.20121 -0.00072143 8.4266 8.85476e-06 8.6541V16.9616C8.85476e-06 17.237 0.109415 17.5011 0.304159 17.6958C0.498903 17.8906 0.763032 18 1.03844 18H6.57675C6.85216 18 7.11629 17.8906 7.31103 17.6958C7.50578 17.5011 7.61518 17.237 7.61518 16.9616V12.4617H9.69205V16.9616C9.69205 17.237 9.80146 17.5011 9.9962 17.6958C10.1909 17.8906 10.4551 18 10.7305 18H16.2688C16.5442 18 16.8083 17.8906 17.0031 17.6958C17.1978 17.5011 17.3072 17.237 17.3072 16.9616V8.6541C17.308 8.4266 17.2635 8.20121 17.1765 7.99101C17.0894 7.78082 16.9615 7.58999 16.8001 7.42962ZM15.2304 15.9231H11.7689V11.4233C11.7689 11.1478 11.6595 10.8837 11.4648 10.689C11.27 10.4942 11.0059 10.3848 10.7305 10.3848H6.57675C6.30134 10.3848 6.03721 10.4942 5.84247 10.689C5.64772 10.8837 5.53832 11.1478 5.53832 11.4233V15.9231H2.07687V8.79689L8.65362 2.22015L15.2304 8.79689V15.9231Z" fill="currentColor"></path></svg></a>{% if customer %}    <div li-if="customer">
    <a li-object:href="routes.account_url" href="{{ routes.account_url }}" class="button w-inline-block"><div class="alt-font"></div></a>    </div>
{% endif %}{% unless customer %}    <div li-unless="customer">
    <a li-object:href="routes.account_login_url" href="{{ routes.account_login_url }}" class="button w-inline-block"><div class="alt-font"></div></a>    </div>
{% endunless %}</div><svg class="mobile_nav-link" viewbox="0 0 25 21" fill="none"><path d="M23.0263 16.8815C23.5332 16.8818 24.0205 17.0563 24.3874 17.3691C24.7542 17.6818 24.9724 18.1088 24.9967 18.5614C25.0211 19.0141 24.8497 19.4578 24.5182 19.8006C24.1866 20.1434 23.7203 20.359 23.2158 20.4027L23.0263 20.4109H1.97368C1.46682 20.4107 0.979481 20.2362 0.612649 19.9234C0.245818 19.6107 0.0276158 19.1837 0.00325755 18.7311C-0.0211007 18.2784 0.150252 17.8347 0.48181 17.4919C0.813367 17.1491 1.27971 16.9335 1.78421 16.8898L1.97368 16.8815H23.0263ZM23.0263 8.64624C23.5498 8.64624 24.0518 8.83217 24.4219 9.16311C24.7921 9.49406 25 9.94292 25 10.4109C25 10.879 24.7921 11.3278 24.4219 11.6588C24.0518 11.9897 23.5498 12.1757 23.0263 12.1757H1.97368C1.45023 12.1757 0.948216 11.9897 0.578079 11.6588C0.207941 11.3278 0 10.879 0 10.4109C0 9.94292 0.207941 9.49406 0.578079 9.16311C0.948216 8.83217 1.45023 8.64624 1.97368 8.64624H23.0263ZM23.0263 0.41095C23.5498 0.41095 24.0518 0.596874 24.4219 0.92782C24.7921 1.25877 25 1.70763 25 2.17566C25 2.64368 24.7921 3.09254 24.4219 3.42349C24.0518 3.75444 23.5498 3.94036 23.0263 3.94036H1.97368C1.45023 3.94036 0.948216 3.75444 0.578079 3.42349C0.207941 3.09254 0 2.64368 0 2.17566C0 1.70763 0.207941 1.25877 0.578079 0.92782C0.948216 0.596874 1.45023 0.41095 1.97368 0.41095H23.0263Z" fill="currentColor"></path></svg><script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        open: false,
        note: null,
        attributes: {},
        original_total_price: 0,
        total_price: 0,
        total_discount: 0,
        total_weight: 0.0,
        item_count: 0,
        products: [],
        requires_shipping: false,
        currency: 'EUR',
        items_subtotal_price: 0,
        cart_level_discount_applications: [],
        cartApiResponseDefault : {
            result : {},
            show : false,
            timeout : 5000,
        },
        cartApiResponse : {
            result : {},
            show : false,
            timeout : 5000,
        },

        // deprecated:
        total: {
            items: 0,
            price: 0,
            weight: 0,
            discount: 0,
        },

        toggleMiniCart() {
            this.getCart();
            this.open = !this.open;
        },

        /**
         * Get the cart data.
         */
        getCart() {
            fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                headers: {'Content-Type': 'application/json'},
            })
            .then(response => response.json())
            .then(data => {
                console.log('Cart (getCart()): ', data, data.items);

                this.total.items = data.item_count;
                this.products = data.items;
                this.total.price = data.total_price;
                this.total.weight = data.total_weight;
                this.total.discount = data.total_discount;

                this.$dispatch('carttotalitems', data.item_count);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        },

        /**
         * @param id
         * @param quantity
         */
        increaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) + 1);
        },

        /**
         * @param id
         * @param quantity
         */
        decreaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param id
         * @param quantity
         */
        updateCartItemQuantity(id, quantity) {
            console.log('updateCartItemQuantity(): id, quantity: ', id, quantity);

            fetch(window.Shopify.routes.root + 'cart/change.js', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: `${id}`,
                    quantity: quantity,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated');
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            console.log("dispatched showCartMessage", event)
            if(event?.detail?.status) {
                this.cartApiResponse.result = event.detail ?? this.cartApiResponseDefault.result;
                this.cartApiResponse.show = true
                setTimeout(() =>  this.cartApiResponse =  this.cartApiResponseDefault, this.cartApiResponse.timeout ?? 5000)
            }},
    }))
});


</script>
<div li-element="mini-cart" x-cloak="" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage"><div li-element="mini-cart-toggle" class="button is-cart" @click="$dispatch('toggleminicart')"><div li-element="mini-cart-item-count" class="navbar_shop-quantity" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">1</div><div class="alt-font"></div></div><div li-cloak="hide" li-element="mini-cart-container" class="navbar_mini-cart-holder" :class="open || 'mini-cart-closed'"><div li-element="mini-cart-toggle" class="navbar_mini-cart-close" @click="$dispatch('toggleminicart')"></div><div lowercase="" class="mini-cart_wrapper"><div class="mini-cart_component"><div li-element="mini-cart-full" class="mini-cart_full" :style="total.items < 1 && { display: 'none' }"><div class="mini-cart_header"><div class="heading_small">Basket</div><div li-element="mini-cart-toggle" class="mini-cart_close w-embed" @click="$dispatch('toggleminicart')"><svg width="30" height="30" viewbox="0 0 30 30" fill="none"><path d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15Z" fill="white"></path><rect x="8" y="9.75" width="2.47487" height="17.3241" rx="1.23744" transform="rotate(-45 8 9.75)" fill="#316AFA"></rect><rect x="20.25" y="8" width="2.47487" height="17.3241" rx="1.23744" transform="rotate(45 20.25 8)" fill="#316AFA"></rect></svg></div></div><div class="divider is-nav"></div><div class="mini-cart_line-item"><ul role="list" class="mini-cart_line-item_list w-list-unstyled"><template x-for="product in products" :key="product.key">
    <li li-element="mini-cart-item" class="mini-cart_line-item_item" x-init="getCart()" @cartupdated.window="getCart()"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="mini-cart_line-item_img" x-bind:src="product.image">
<div class="mini-cart_line-item_product-info"><div class="w-layout-hflex mini-cart_flex-wrapper"><div li-js-object="product.title" x-text="product.title">Product Title</div><a li-element="mini-cart-item-remove" href="#" class="w-inline-block" :productprop="product" @click="$dispatch('setcartitem', { product: product.id, quantity: 0 })"><svg class="image_m" viewbox="0 0 18 18" fill="none"><path d="M7.33342 4.00001H10.6667C10.6667 3.55798 10.4912 3.13405 10.1786 2.82149C9.86603 2.50893 9.44211 2.33334 9.00008 2.33334C8.55805 2.33334 8.13413 2.50893 7.82157 2.82149C7.50901 3.13405 7.33342 3.55798 7.33342 4.00001ZM5.66675 4.00001C5.66675 3.11595 6.01794 2.2681 6.64306 1.64298C7.26818 1.01786 8.11603 0.666672 9.00008 0.666672C9.88414 0.666672 10.732 1.01786 11.3571 1.64298C11.9822 2.2681 12.3334 3.11595 12.3334 4.00001H16.5001C16.7211 4.00001 16.9331 4.0878 17.0893 4.24408C17.2456 4.40036 17.3334 4.61232 17.3334 4.83334C17.3334 5.05435 17.2456 5.26631 17.0893 5.42259C16.9331 5.57887 16.7211 5.66667 16.5001 5.66667H15.7651L15.0267 14.2833C14.9558 15.1154 14.5751 15.8905 13.96 16.4553C13.3449 17.0201 12.5402 17.3334 11.7051 17.3333H6.29508C5.46001 17.3334 4.65531 17.0201 4.04021 16.4553C3.4251 15.8905 3.0444 15.1154 2.97341 14.2833L2.23508 5.66667H1.50008C1.27907 5.66667 1.06711 5.57887 0.910826 5.42259C0.754545 5.26631 0.666748 5.05435 0.666748 4.83334C0.666748 4.61232 0.754545 4.40036 0.910826 4.24408C1.06711 4.0878 1.27907 4.00001 1.50008 4.00001H5.66675ZM11.5001 9.00001C11.5001 8.77899 11.4123 8.56703 11.256 8.41075C11.0997 8.25447 10.8878 8.16667 10.6667 8.16667C10.4457 8.16667 10.2338 8.25447 10.0775 8.41075C9.92121 8.56703 9.83342 8.77899 9.83342 9.00001V12.3333C9.83342 12.5544 9.92121 12.7663 10.0775 12.9226C10.2338 13.0789 10.4457 13.1667 10.6667 13.1667C10.8878 13.1667 11.0997 13.0789 11.256 12.9226C11.4123 12.7663 11.5001 12.5544 11.5001 12.3333V9.00001ZM7.33342 8.16667C7.1124 8.16667 6.90044 8.25447 6.74416 8.41075C6.58788 8.56703 6.50008 8.77899 6.50008 9.00001V12.3333C6.50008 12.5544 6.58788 12.7663 6.74416 12.9226C6.90044 13.0789 7.1124 13.1667 7.33342 13.1667C7.55443 13.1667 7.76639 13.0789 7.92267 12.9226C8.07895 12.7663 8.16675 12.5544 8.16675 12.3333V9.00001C8.16675 8.77899 8.07895 8.56703 7.92267 8.41075C7.76639 8.25447 7.55443 8.16667 7.33342 8.16667Z" fill="currentColor"></path></svg></a></div><div class="w-layout-hflex mini-cart_flex-wrapper"><div class="mini-cart_line-item_quantity"><a li-element="mini-cart-item-decrease" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('decreasecartitem', { product: product.id, quantity: product.quantity, action: 'decrease' })">-</a><div class="mini-cart_divider"></div><input class="mini-cart_line-item_quantity-adjust" li-element="mini-cart-item-quantity" value="1" :productprop="product" @blur="$dispatch('setcartitem', { product: product.id, quantity: product.quantity })" x-model="product.quantity">
<div class="mini-cart_divider"></div><a li-element="mini-cart-item-increase" href="#" class="mini-cart_line-item_quantity-adjust" :productprop="product" @click="$dispatch('increasecartitem', { product: product.id, quantity: product.quantity, action: 'increase' })">+</a></div><div class="mini-cart_line-item_price"><div li-js-price="product.price" x-text="moneyFormat(product.price)">14,99 $</div><template x-if="product.price < product.original_price">
            <div li-js-if="product.price < product.original_price">
        <div li-js-price="product.original_price" class="is-sale" x-text="moneyFormat(product.original_price)">14,99 $</div>        </div>
    </template>
</div></div></div></li></template>
</ul></div><div class="divider is-nav"></div><div class="mini-cart_footer"><div class="mini-cart_footer_total"><div>Subtotal</div><div><template x-if="total.price < original_total_price">
            <div li-js-if="total.price < original_total_price">
        <div li-js-price="original_total_price" class="text-style-strikethrough" x-text="moneyFormat(original_total_price)">14,99 $</div>        </div>
    </template>
<div li-js-price="total.price" x-text="moneyFormat(total.price)">14,99 $</div></div></div><div li-cloak="hide" li-element="mini-cart-api-response" class="mini-cart_footer-message"><div class="mini-cart_footer-message-item"><div>Nachricht</div><div li-js-object="cartApiResponse?.result?.message" x-text="cartApiResponse?.result?.message">14,99 $</div></div><div class="mini-cart_footer-message-item"><div>Status</div><div li-js-object="cartApiResponse?.result?.description" x-text="cartApiResponse?.result?.description">14,99 $</div></div></div><a x-bind:href="'/checkout'" href="#" class="button is-pink w-button">proceed to checkout</a><a li-object:href="routes.cart_url" href="{{ routes.cart_url }}" class="button w-button">Cart</a><div class="text-align-center">Shipping calculated at checkout</div></div></div><div li-cloak="hide" li-element="mini-cart-empty" :style="total.items && { display: 'none' }"><div class="mini-cart_header"><div class="heading_small">Basket</div><div li-mini-cart-toggle="" class="mini-cart_close w-embed" @click="$dispatch('toggleminicart')"><svg width="30" height="30" viewbox="0 0 30 30" fill="none"><path d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15Z" fill="white"></path><rect x="8" y="9.75" width="2.47487" height="17.3241" rx="1.23744" transform="rotate(-45 8 9.75)" fill="#316AFA"></rect><rect x="20.25" y="8" width="2.47487" height="17.3241" rx="1.23744" transform="rotate(45 20.25 8)" fill="#316AFA"></rect></svg></div></div><div class="mini-cart_empty"><div>No Products selected</div></div></div></div></div></div></div></div></div></div>
