<div lowercase="" class="w-layout-blockcontainer container_account w-container"><div x-data="{ modal: 99 }" class="account_grid-container is-address">{% for address in customer.addresses %}    <div li-for="address in customer.addresses" id="w-node-_9d85582c-8f53-1625-fc78-7b20efe25d0e-07f8c28c" class="outline-solid-1 account_card">
                                    
                            <div class="account_header">{% if address == customer.default_address %}    <div li-if="address == customer.default_address" class="heading_small">
    Main Address    </div>
{% endif %}{% if address != customer.default_address %}    <div li-if="address != customer.default_address" class="heading_small">
    Other Address    </div>
{% endif %}</div>
                            
                            <div class="account_divider"></div>
                            
                            <div class="account_content"><div li-object="address | format_address">{{ address | format_address }}</div><div class="account_details-content"><div></div><div><div class="addresses_delete-button hide"></div><div class="w-embed"><form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}"><input type="hidden" name="_method" value="delete">
<button type="submit" class="addresses_delete-button"></button></form></div></div></div></div>
                            
                        </div>
{% endfor %}<div id="w-node-_9d85582c-8f53-1625-fc78-7b20efe25d58-07f8c28c" class="account_card is-outline"><div class="addresses_padding"><div x-cloak="" x-show="modal === 100" x-transition="" class="addresses_modal"><div x-on:click="modal = 99" class="addresses_modal-close"></div><div lo="" class="addresses_form"><div class="w-form">{% form 'customer_address' , customer.new_address, class: 'addresses_form-wrapper' %}
<div class="addresses_form-grid"><h3 id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf3655ec-cf3655e8" class="heading_medium">New Address</h3><div class="form_field-wrapper"><div>First Name</div><input class="form-input w-input" maxlength="256" name="address[first_name]" data-name="Address First Name 3" placeholder="" type="text" id="Address-First-Name-3" required="" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf3655f2-cf3655e8" class="form_field-wrapper"><div>Last Name</div><input class="form-input w-input" maxlength="256" name="address[last_name]" data-name="Address Last Name 3" placeholder="" type="text" id="Address-Last-Name-3" required="" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf3655f6-cf3655e8" class="form_field-wrapper"><div>Company</div><input class="form-input w-input" maxlength="256" name="address[company]" data-name="Address Company 3" placeholder="" type="text" id="Address-Company-3" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf3655fa-cf3655e8" class="form_field-wrapper"><div>Address</div><input class="form-input w-input" maxlength="256" name="address[address1]" data-name="Address Address 6" placeholder="" type="text" id="Address-Address-6" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf3655fe-cf3655e8" class="form_field-wrapper"><div>Address 2</div><input class="form-input w-input" maxlength="256" name="address[address2]" data-name="Address Address 2" placeholder="" type="text" id="Address-Address-4" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf365602-cf3655e8" class="form_field-wrapper"><div>Zip/Postcode</div><input class="form-input w-input" maxlength="256" name="address[zip]" data-name="Address Zip 3" placeholder="" type="text" id="Address-Zip-3" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf365606-cf3655e8" class="form_field-wrapper"><div>City</div><input class="form-input w-input" maxlength="256" name="address[city]" data-name="Address City 3" placeholder="" type="text" id="Address-City-3" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf36560a-cf3655e8" class="form_field-wrapper"><div>Country</div><select class="form-input" li-object="all_country_option_tags" data-default="{{ form.country }}" li-attribute:name="address[country]" name="{{ address[country] }}">{{ all_country_option_tags }}</select></div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf36560e-cf3655e8" class="form_field-wrapper"><div>Phone Number</div><input class="form-input w-input" maxlength="256" name="address[phone]" data-name="Address Phone 2" placeholder="" type="text" id="Address-Phone-2" >

</div><div id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf365612-cf3655e8" class="form-checkbox"><div li-object="form.set_as_default_checkbox" id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf365613-cf3655e8" class="form-checkbox-icon">{{ form.set_as_default_checkbox }}</div><div>Save as default</div></div><input type="submit" data-wait="Please wait..." id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf365616-cf3655e8" class="button is-pink w-button" value="Create">
<a x-on:click="modal = 99" id="w-node-_5252b5f8-2dff-76d4-4125-1e5fcf365617-cf3655e8" href="#" class="ts_underline">Cancel</a></div>{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div><svg class="image_xl" xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 50 50" fill="none"><path d="M49.2188 25C49.2188 25.7708 48.9126 26.51 48.3675 27.055C47.8225 27.6001 47.0833 27.9062 46.3125 27.9062H27.9062V46.3125C27.9062 47.0833 27.6001 47.8225 27.055 48.3675C26.51 48.9126 25.7708 49.2188 25 49.2188C24.2292 49.2188 23.49 48.9126 22.945 48.3675C22.3999 47.8225 22.0938 47.0833 22.0938 46.3125V27.9062H3.6875C2.91671 27.9062 2.1775 27.6001 1.63247 27.055C1.08744 26.51 0.78125 25.7708 0.78125 25C0.78125 24.2292 1.08744 23.49 1.63247 22.945C2.1775 22.3999 2.91671 22.0938 3.6875 22.0938H22.0938V3.6875C22.0938 2.91671 22.3999 2.1775 22.945 1.63247C23.49 1.08744 24.2292 0.78125 25 0.78125C25.7708 0.78125 26.51 1.08744 27.055 1.63247C27.6001 2.1775 27.9062 2.91671 27.9062 3.6875V22.0938H46.3125C47.0833 22.0938 47.8225 22.3999 48.3675 22.945C48.9126 23.49 49.2188 24.2292 49.2188 25Z" fill="white"></path></svg><div x-on:click="modal = 100" class="addresses_opener"></div></div></div></div></div> {% schema %} {"tag":"section","name":"account_address","class":"section_account-main","presets":[{"name":"account_address","category":"Liquify"}]} {% endschema %}