<div lowercase="" class="w-layout-blockcontainer container_m w-container"><div id="w-node-fe101a1b-c8e7-5d1f-bcc2-6727591d2680-c04fc7ce" class="w-layout-vflex spacing_2"><h1 id="w-node-_17cf99d8-cca9-6029-5ca2-fd70c04fc7d1-c04fc7ce" class="heading_big"><span li-object="'Account.Account-Page.Greeting' | t">{{ 'Account.Account-Page.Greeting' | t }}</span>, <span li-object="customer.first_name">{{ customer.first_name }}</span>.<br>
</h1><hr class="divider" style="background:white">
<div class="account-tabs_wrapper"><a href="{{ account_url }}" li-object="'Account.Account-Page.Account-Button' | t" li-object:href="account_url" id="w-node-_17cf99d8-cca9-6029-5ca2-fd70c04fc7d9-c04fc7ce" class="button is-outline">{{ 'Account.Account-Page.Account-Button' | t }}</a><a href="{{ account_addresses_url }}" li-object="'Account.Account-Page.Address-Button' | t" li-object:href="account_addresses_url" id="w-node-_17cf99d8-cca9-6029-5ca2-fd70c04fc7dd-c04fc7ce" class="button">{{ 'Account.Account-Page.Address-Button' | t }}</a><a id="w-node-_17cf99d8-cca9-6029-5ca2-fd70c04fc7df-c04fc7ce" href="/apps/iwish" class="button is-outline hide">wishlist</a></div></div></div>

{% schema %}
    {"tag":"section","name":"account_hero","class":"section_account-nav","settings":[],"presets":[{"name":"account_hero","category":"Liquify"}]}
{% endschema %}
