<div lowercase="" class="allthebest_container"><div class="w-layout-vflex flex_dp-center_mb-left spacing_1"><h2 class="heading_medium">
{{ section.settings.text_heading }}
</h2>
<div class="ts_maxwidth_64">
{{ section.settings.text_paragraph }}
</div>
<div class="footnote is-bottom">
{{ section.settings.text_footnote }}
</div>
</div><div class="w-layout-hflex allthebest_flower-container">
<img class="allthebest_flower _3"
     src="{{ section.settings.image_image_1 | default: 'flower_one.png' | asset_url }}"
     alt="{{ section.settings.image_image_1.alt | default: 'Default Alt Text' }}"
     loading="lazy">
<img class="allthebest_flower _2"
     src="{{ section.settings.image_image_2 | default: 'flower_two.png' | asset_url }}"
     alt="{{ section.settings.image_image_2.alt | default: 'Default Alt Text' }}"
     loading="lazy">
<img class="allthebest_flower is-pink"
     src="{{ section.settings.image_image_3 | default: 'flower_three.png' | asset_url }}"
     alt="{{ section.settings.image_image_3.alt | default: 'Default Alt Text' }}"
     loading="lazy">
<img class="allthebest_flower is-pink"
     src="{{ section.settings.image_image_4 | default: 'flower_four.png' | asset_url }}"
     alt="{{ section.settings.image_image_4.alt | default: 'Default Alt Text' }}"
     loading="lazy">
<img class="allthebest_flower _2"
     src="{{ section.settings.image_image_5 | default: 'flower_five.png' | asset_url }}"
     alt="{{ section.settings.image_image_5.alt | default: 'Default Alt Text' }}"
     loading="lazy">
<img class="allthebest_flower _3"
     src="{{ section.settings.image_image_6 | default: 'flower_six.png' | asset_url }}"
     alt="{{ section.settings.image_image_6.alt | default: 'Default Alt Text' }}"
     loading="lazy">

</div><video id="nuchu-pot" class="nuchu-bottle" playsinline="true" muted=""><source src="https://cdn.shopify.com/videos/c/o/v/208fcbc8a5bd4ca9a95e38fa4801d71b.webm" type="video/webm">
<source src="https://cdn.shopify.com/videos/c/o/v/8241c4a34a1c427aaed687db469aa09d.mp4" type="video/mp4; codecs=hvc1">
</video></div>

{% schema %}
    {"tag":"section","name":"all_the_best","class":"section_allthebest","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"All the best and nothing less"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"We stripped away \"added sugars, artificial sweeteners\", and other fake nasty ingredients for totally yummy gummies you can feel good about."},{"id":"text_footnote","type":"text","label":"Footnote","default":"*Contains naturally occurring sugars"},{"id":"image_image_1","type":"image_picker","label":"Image 1"},{"id":"image_image_2","type":"image_picker","label":"Image 2"},{"id":"image_image_3","type":"image_picker","label":"Image 3"},{"id":"image_image_4","type":"image_picker","label":"Image 4"},{"id":"image_image_5","type":"image_picker","label":"Image 5"},{"id":"image_image_6","type":"image_picker","label":"Image 6"}],"presets":[{"name":"all_the_best","category":"Liquify"}]}
{% endschema %}
