<div lowercase="" class="allthebest_container"><div class="w-layout-vflex flex_dp-center_mb-left spacing_1"><h2 class="heading_medium">
{{ section.settings.text_heading }}
</h2>
<div class="ts_maxwidth_64">
{{ section.settings.text_paragraph }}
</div>
<div class="footnote is-bottom">
{{ section.settings.text_footnote }}
</div>
</div><div class="w-layout-hflex allthebest_flower-container"><img class="allthebest_flower _3"
     src="{{ section.settings.image_image_1 | img_url: 'master' }}"
     alt="{{ section.settings.image_image_1.alt }}"
     loading="lazy">
<img class="allthebest_flower _2"
     src="{{ section.settings.image_image_2 | img_url: 'master' }}"
     alt="{{ section.settings.image_image_2.alt }}"
     loading="lazy">
<img class="allthebest_flower is-pink"
     src="{{ section.settings.image_image_3 | img_url: 'master' }}"
     alt="{{ section.settings.image_image_3.alt }}"
     loading="lazy">
<img class="allthebest_flower is-pink"
     src="{{ section.settings.image_image_4 | img_url: 'master' }}"
     alt="{{ section.settings.image_image_4.alt }}"
     loading="lazy">
<img class="allthebest_flower _2"
     src="{{ section.settings.image_image_5 | img_url: 'master' }}"
     alt="{{ section.settings.image_image_5.alt }}"
     loading="lazy">
<img class="allthebest_flower _3"
     src="{{ section.settings.image_image_6 | img_url: 'master' }}"
     alt="{{ section.settings.image_image_6.alt }}"
     loading="lazy">
</div>
  
  <video id="nuchu-pot" class="nuchu-bottle" playsinline="true" muted="true" preload="auto">
    <source src="{{ 'nuchu-lid.mov' | asset_url }}" type="video/mp4; codecs=hvc1" />
     <source src="{{ 'nuchu-lid.webm' | asset_url }}" type="video/webm" />
     <img src="{{ 'nuchu-lid-fallback.png' | asset_url }}" alt="Nuchu lid animation">

</video>

</div> {% schema %} {"tag":"section","name":"all_the_best","class":"section_allthebest","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"All the best and nothing less"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"We stripped away added sugars, artificial sweeteners, and other fake nasty ingredients for totally yummy gummies you can feel good about."},{"id":"text_footnote","type":"text","label":"Footnote","default":"*Contains naturally occurring sugars"},{"id":"image_image_1","type":"image_picker","label":"Image 1"},{"id":"image_image_2","type":"image_picker","label":"Image 2"},{"id":"image_image_3","type":"image_picker","label":"Image 3"},{"id":"image_image_4","type":"image_picker","label":"Image 4"},{"id":"image_image_5","type":"image_picker","label":"Image 5"},{"id":"image_image_6","type":"image_picker","label":"Image 6"}],"presets":[{"name":"all_the_best","category":"Liquify"}]} {% endschema %}