<div class="w-layout-blockcontainer container_xl w-container">
    {% if section.settings.product %}
      {% assign product = all_products[section.settings.product] %}

  <a  href="{{ product.url }}" class="featured-product_content">

      <div id="w-node-_5f7791df-af9d-bebc-680f-ca207861612d-07f8c290" class="w-layout-vflex spacing_2">
        <h2 class="heading_medium">
          {{ product.title }}
        </h2>
        <p> {{ product.description | strip_html }} </p>
        <div class="button ">
          {{ product.price | money }}
        </div>
      </div>
      <img class="featured_product-image"
        src="{{ product.metafields.custom.transparent_image | img_url: 'master' }}"
        alt="{{ product.title }}"
        loading="lazy">
    {% else %}
      <p>Please select a product to display its details.</p>
    {% endif %}
  </a>
</div>

{% schema %}
{
  "tag": "section",
  "name": "featured_product",
  "class": "section_featured-product",
  "settings": [
    {
      "id": "product",
      "type": "product",
      "label": "Select product"
    }
  ],
  "presets": [
    {
      "name": "featured_product",
      "category": "Liquify"
    }
  ]
}
{% endschema %}
