<div lowercase="" class="container_science"><div class="ingredients_content"><div gsap-fadeup="" data-body="{{ section.settings.text_theme_color | default:pink}}" class="ingredients_product-wrappper"><div class="liquid-embed">
{{ section.settings.text_theme_color }}
</div>
<div class="w-layout-hflex ingredients_heading-container"><h3 class="heading_small">
{{ section.settings.text_heading }}
</h3>
<a class="button is-pink w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
</div><div class="w-layout-grid ingredients_grid"><div id="w-node-_413724f1-bc34-9869-0aa4-9ce31b566e4e-07f8c2e5" class="ingredients_card product"><img class="ingredients_product-image"
     src="{{ section.settings.image_product_image | img_url: 'master' }}"
     alt="{{ section.settings.image_product_image.alt }}"
     loading="lazy">
</div><div class="ingredients_card-wrapper"><div class="ingredients_card"><div> {{ section.settings.richtext_product_text }} </div>
</div><div class="faq_list"><div class="faq_item"><div class="faq_question"><h3 class="heading_very-small ts_tc-pink">ingredients</h3><svg class="faq_arrow is-small" width="100%" viewbox="0 0 24 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.7951 12.3411C13.323 12.763 12.6829 13 12.0156 13C11.3482 13 10.7082 12.763 10.236 12.3411L0.737217 3.84598C0.265028 3.42334 -0.00015735 2.85018 7.00464e-08 2.25261C0.00015749 1.65504 0.265644 1.082 0.738056 0.659556C1.21047 0.237109 1.85111 -0.000140774 2.51904 6.26672e-08C3.18698 0.0001409 3.82749 0.23766 4.29968 0.660306L12.0156 7.56335L19.7314 0.660306C20.2062 0.249708 20.8422 0.0223512 21.5024 0.027204C22.1627 0.0320568 22.7945 0.268731 23.2616 0.686251C23.7287 1.10377 23.9938 1.66873 23.9999 2.25945C24.0059 2.85016 23.7524 3.41937 23.2939 3.84448L13.7968 12.3426L13.7951 12.3411Z" fill="currentColor"></path></svg></div><div class="faq_answer">{% for block in section.blocks %}
    {% if block.type == "ingredients-card" %}
                    <div li-block="Ingredients Card">
                                    <div class="faq_answer-text"><div class="w-layout-vflex flex_stretch-center spacing_2"><div class="ingredients_card"><div class="w-layout-hflex key-ingredient_heading-container"><div class="w-layout-hflex flex_center-center spacing_1"><img class="image_l"
     src="{{ block.settings.image_ingredient_icon | img_url: 'master' }}"
     alt="{{ block.settings.image_ingredient_icon.alt }}"
     loading="lazy">
<div class="heading_very-small">
{{ block.settings.text_ingredient_name }}
</div>
</div><div class="ingredients_keypoint-card"><svg viewbox="0 0 18 18" fill="none" height="1.125rem" width="1.125rem"><path d="M6 2C6 1.46957 6.21071 0.960859 6.58579 0.585786C6.96086 0.210714 7.46957 0 8 0H10C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V6H16C16.5304 6 17.0391 6.21071 17.4142 6.58579C17.7893 6.96086 18 7.46957 18 8V10C18 10.5304 17.7893 11.0391 17.4142 11.4142C17.0391 11.7893 16.5304 12 16 12H12V16C12 16.5304 11.7893 17.0391 11.4142 17.4142C11.0391 17.7893 10.5304 18 10 18H8C7.46957 18 6.96086 17.7893 6.58579 17.4142C6.21071 17.0391 6 16.5304 6 16V12H2C1.46957 12 0.960859 11.7893 0.585786 11.4142C0.210714 11.0391 0 10.5304 0 10V8C0 7.46957 0.210714 6.96086 0.585786 6.58579C0.960859 6.21071 1.46957 6 2 6H6V2Z" fill="#316AFA"></path></svg><p>
{{ block.settings.text_ingredient_key_point }}
</p>
</div></div><hr class="divider">
<div> {{ block.settings.richtext_ingredient_description }} </div>
</div></div></div>
                            </div>
            {% endif %}
{% endfor %}
</div></div><div class="faq_item"><div class="faq_question"><h3 class="heading_very-small ts_tc-pink">Benefits</h3><svg class="faq_arrow is-small" width="100%" viewbox="0 0 24 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.7951 12.3411C13.323 12.763 12.6829 13 12.0156 13C11.3482 13 10.7082 12.763 10.236 12.3411L0.737217 3.84598C0.265028 3.42334 -0.00015735 2.85018 7.00464e-08 2.25261C0.00015749 1.65504 0.265644 1.082 0.738056 0.659556C1.21047 0.237109 1.85111 -0.000140774 2.51904 6.26672e-08C3.18698 0.0001409 3.82749 0.23766 4.29968 0.660306L12.0156 7.56335L19.7314 0.660306C20.2062 0.249708 20.8422 0.0223512 21.5024 0.027204C22.1627 0.0320568 22.7945 0.268731 23.2616 0.686251C23.7287 1.10377 23.9938 1.66873 23.9999 2.25945C24.0059 2.85016 23.7524 3.41937 23.2939 3.84448L13.7968 12.3426L13.7951 12.3411Z" fill="currentColor"></path></svg></div><div class="faq_answer">{% for block in section.blocks %}
    {% if block.type == "benefits-card" %}
                    <div li-block="Benefits Card">
                                    <div class="faq_answer-text"><div class="w-layout-vflex flex_stretch-center spacing_2"><div class="ingredients_card"><div class="w-layout-hflex key-ingredient_heading-container"><div class="w-layout-hflex flex_center-center spacing_1"><img class="image_l"
     src="{{ block.settings.image_benefit_icon | img_url: 'master' }}"
     alt="{{ block.settings.image_benefit_icon.alt }}"
     loading="lazy">
<div class="heading_very-small">
{{ block.settings.text_benefit_name }}
</div>
</div><div class="ingredients_keypoint-card"><svg viewbox="0 0 18 18" fill="none" height="1.125rem" width="1.125rem"><path d="M6 2C6 1.46957 6.21071 0.960859 6.58579 0.585786C6.96086 0.210714 7.46957 0 8 0H10C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V6H16C16.5304 6 17.0391 6.21071 17.4142 6.58579C17.7893 6.96086 18 7.46957 18 8V10C18 10.5304 17.7893 11.0391 17.4142 11.4142C17.0391 11.7893 16.5304 12 16 12H12V16C12 16.5304 11.7893 17.0391 11.4142 17.4142C11.0391 17.7893 10.5304 18 10 18H8C7.46957 18 6.96086 17.7893 6.58579 17.4142C6.21071 17.0391 6 16.5304 6 16V12H2C1.46957 12 0.960859 11.7893 0.585786 11.4142C0.210714 11.0391 0 10.5304 0 10V8C0 7.46957 0.210714 6.96086 0.585786 6.58579C0.960859 6.21071 1.46957 6 2 6H6V2Z" fill="#316AFA"></path></svg><p>
{{ block.settings.text_benefit_key_point }}
</p>
</div></div><hr class="divider">
<div> {{ block.settings.richtext_benefit_description }} </div>
</div></div></div>
                            </div>
            {% endif %}
{% endfor %}
</div></div><div class="faq_item"><div class="faq_question"><h3 class="heading_very-small ts_tc-pink">Suggested Use</h3><svg class="faq_arrow is-small" width="100%" viewbox="0 0 24 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.7951 12.3411C13.323 12.763 12.6829 13 12.0156 13C11.3482 13 10.7082 12.763 10.236 12.3411L0.737217 3.84598C0.265028 3.42334 -0.00015735 2.85018 7.00464e-08 2.25261C0.00015749 1.65504 0.265644 1.082 0.738056 0.659556C1.21047 0.237109 1.85111 -0.000140774 2.51904 6.26672e-08C3.18698 0.0001409 3.82749 0.23766 4.29968 0.660306L12.0156 7.56335L19.7314 0.660306C20.2062 0.249708 20.8422 0.0223512 21.5024 0.027204C22.1627 0.0320568 22.7945 0.268731 23.2616 0.686251C23.7287 1.10377 23.9938 1.66873 23.9999 2.25945C24.0059 2.85016 23.7524 3.41937 23.2939 3.84448L13.7968 12.3426L13.7951 12.3411Z" fill="currentColor"></path></svg></div><div class="faq_answer">{% for block in section.blocks %}
    {% if block.type == "suggested-use-card" %}
                    <div li-block="Suggested Use Card">
                                    <div class="faq_answer-text"><div class="w-layout-vflex flex_stretch-center spacing_2"><div class="ingredients_card"><div class="w-layout-hflex key-ingredient_heading-container"><div class="w-layout-hflex flex_center-center spacing_1"><img class="image_l"
     src="{{ block.settings.image_suggested_use_icon | img_url: 'master' }}"
     alt="{{ block.settings.image_suggested_use_icon.alt }}"
     loading="lazy">
<div class="heading_very-small">
{{ block.settings.text_suggested_use_name }}
</div>
</div><div class="ingredients_keypoint-card"><svg viewbox="0 0 18 18" fill="none" height="1.125rem" width="1.125rem"><path d="M6 2C6 1.46957 6.21071 0.960859 6.58579 0.585786C6.96086 0.210714 7.46957 0 8 0H10C10.5304 0 11.0391 0.210714 11.4142 0.585786C11.7893 0.960859 12 1.46957 12 2V6H16C16.5304 6 17.0391 6.21071 17.4142 6.58579C17.7893 6.96086 18 7.46957 18 8V10C18 10.5304 17.7893 11.0391 17.4142 11.4142C17.0391 11.7893 16.5304 12 16 12H12V16C12 16.5304 11.7893 17.0391 11.4142 17.4142C11.0391 17.7893 10.5304 18 10 18H8C7.46957 18 6.96086 17.7893 6.58579 17.4142C6.21071 17.0391 6 16.5304 6 16V12H2C1.46957 12 0.960859 11.7893 0.585786 11.4142C0.210714 11.0391 0 10.5304 0 10V8C0 7.46957 0.210714 6.96086 0.585786 6.58579C0.960859 6.21071 1.46957 6 2 6H6V2Z" fill="#316AFA"></path></svg><p>
{{ block.settings.text_suggested_use_key_point }}
</p>
</div></div><hr class="divider">
<div> {{ block.settings.richtext_suggested_use_description }} </div>
</div></div></div>
                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div></div></div></div></div>

{% schema %}
    {"tag":"section","name":"ingredients","class":"section_ingredients","blocks":[{"name":"Ingredients Card","type":"ingredients-card","settings":[{"type":"image_picker","id":"image_ingredient_icon","label":"Ingredient - Icon"},{"type":"text","id":"text_ingredient_name","label":"Ingredient - Name","default":"ashwagandha"},{"type":"text","id":"text_ingredient_key_point","label":"Ingredient - Key Point","default":"stimulates keratin production"},{"type":"richtext","id":"richtext_ingredient_description","label":"Ingredient - Description","default":"<p>Ashwagandha, an adaptogenic herb, is scientifically linked to the production of keratin, a crucial protein for hair strength. It supports the synthesis of keratin in our bodies, contributing to the overall health and resilience of our hair. In simple terms, Ashwagandha quietly works behind the scenes to keep your locks robust.<\/p>"}]},{"name":"Benefits Card","type":"benefits-card","settings":[{"type":"image_picker","id":"image_benefit_icon","label":"Benefit - Icon"},{"type":"text","id":"text_benefit_name","label":"Benefit - Name","default":"ashwagandha"},{"type":"text","id":"text_benefit_key_point","label":"Benefit - Key Point","default":"stimulates keratin production"},{"type":"richtext","id":"richtext_benefit_description","label":"Benefit - Description","default":"<p>Ashwagandha, an adaptogenic herb, is scientifically linked to the production of keratin, a crucial protein for hair strength. It supports the synthesis of keratin in our bodies, contributing to the overall health and resilience of our hair. In simple terms, Ashwagandha quietly works behind the scenes to keep your locks robust.<\/p>"}]},{"name":"Suggested Use Card","type":"suggested-use-card","settings":[{"type":"image_picker","id":"image_suggested_use_icon","label":"Suggested Use - Icon"},{"type":"text","id":"text_suggested_use_name","label":"Suggested Use - Name","default":"ashwagandha"},{"type":"text","id":"text_suggested_use_key_point","label":"Suggested Use - Key Point","default":"stimulates keratin production"},{"type":"richtext","id":"richtext_suggested_use_description","label":"Suggested Use - Description","default":"<p>Ashwagandha, an adaptogenic herb, is scientifically linked to the production of keratin, a crucial protein for hair strength. It supports the synthesis of keratin in our bodies, contributing to the overall health and resilience of our hair. In simple terms, Ashwagandha quietly works behind the scenes to keep your locks robust.<\/p>"}]}],"settings":[{"id":"text_theme_color","type":"text","label":"theme-color","default":"pink"},{"id":"text_heading","type":"text","label":"Heading","default":"calm me down"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Go to Product"},{"id":"image_product_image","type":"image_picker","label":"Product Image"},{"id":"richtext_product_text","type":"richtext","label":"Product Text","default":"<p>We stripped away \"added sugars, artificial sweeteners\", and other fake nasty ingredients for totally yummy gummies you can feel good about.<\/p>"}],"presets":[{"name":"ingredients","category":"Liquify"}]}
{% endschema %}
