<div lowercase class="steps_container">
    <div class="steps_grid">
            
        <img src="{{ 'cynthia_pots.jpg' | asset_url }}" alt="Cynthia the founder holder all three nuchu products" style="border-radius:2rem;">

        <div class="ingredients_card-wrapper">

        {% for block in section.blocks %}
            {% if block.type == "step" %}
            <div li-block="Step">
                <div gsap-staggerup="" class="steps_grid-item">
                    
                    <div class="ingredients_grid">
                        <img class="steps_image" src="{{ block.settings.image_step_icon | img_url: 'master' }}" alt="{{ block.settings.image_step_icon.alt }}" loading="lazy">
                       <div> 
                    <h2 class="heading_small" style="font-size:1.2rem; margin-bottom:0.8em">
                        {{ block.settings.text_title }}
                    </h2>
                    <div> {{ block.settings.richtext_content }} </div>
                </div>
            </div>
        </div>
            </div>
            {% endif %}
            {% endfor %}

       </div>

    </div>
</div>

{% schema %} {"tag":"section","name":"no_nasty_steps","class":"section_steps","blocks":[{"name":"Step","type":"step","settings":[{"id":"image_step_icon","type":"image_picker","label":"Step Icon"},{"id":"text_title","type":"text","label":"Title","default":"supplement struggles"},{"id":"richtext_content","type":"richtext","label":"Content","default":"<p>In 2018, I was thrown a curveball \u2013 an IBS diagnosis that reshaped my perspective on health. This pivotal moment led me to reconsider my dietary choices. Despite the widespread popularity of gummies, finding ones without added sugar or artificial sweeteners, crucial for my gut health, proved to be a challenge.<\/p>"}]}],"presets":[{"name":"no_nasty_steps","category":"Liquify"}]} {% endschema %}