<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>


<div class="popup_container">

  <button class="popup_close">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48" fill="none"> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.31802 1.31802C3.07538 -0.43934 5.92462 -0.43934 7.68198 1.31802L23.75 17.386L39.818 1.31802C41.5754 -0.43934 44.4246 -0.43934 46.182 1.31802C47.9393 3.07538 47.9393 5.92462 46.182 7.68198L30.114 23.75L46.182 39.818C47.9393 41.5754 47.9393 44.4246 46.182 46.182C44.4246 47.9393 41.5754 47.9393 39.818 46.182L23.75 30.114L7.68198 46.182C5.92462 47.9393 3.07538 47.9393 1.31802 46.182C-0.43934 44.4246 -0.43934 41.5754 1.31802 39.818L17.386 23.75L1.31802 7.68198C-0.43934 5.92462 -0.43934 3.07538 1.31802 1.31802Z" fill="#F60EA6"></path> </svg>
  </button>

  <img src="{{ 'popup_img.jpg' | asset_url }}" loading="lazy" id="w-node-_5bf9ab54-2d3f-1f84-bf3c-4a30a2e82eeb-07f8c27d" sizes="100vw" alt="" srcset="{{ 'popup_img-p-500.jpg' | asset_url }} 500w, {{ 'popup_img.jpg' | asset_url }} 800w" class="popup_img">
  
  {% form 'customer' %}
      <div class="popup_content_wrapper">
          
          <div id="w-node-f91a8ed6-9a6f-9f6c-2209-30ddf2feebdb-07f8c27d" class="popup_content">
              <div class="w-layout-vflex spacing_1">
                  <h2 class="heading_small">{{ settings.promo_heading | default: "10% off your first order" }}</h2>
                  <p class="ts_maxwidth_40">{{ settings.promo_paragraph | default: "Subscribe to receive 10% off your first order, along with product updates and exclusive offers!" }}</p>
              </div>

              <div class="w-layout-vflex spacing_1" style="width:100%">
                  <input type="email" name="contact[email]" id="email-input" required placeholder="email address" class="footer_form-input is-pink"/>
                  <a id="sudo-promo-btn" href="#" class="button is-pink">{{ settings.submit_button_text | default: "submit" }}</a>
              </div>

              <div class="ts_maxwidth_40">
                  <div class="text-size-small">{{ settings.promo_disclaimer | default: "By subscribing, you agree to receive marketing emails from us. You may unsubscribe at any time" }}</div>
              </div>

              <div class="submit" style="display:none">
                  <input id="promo-form-btn" type="submit" value="Sign up"/>
                </div> 

          </div>

          <div class="popup_content is-success">
              <h2 class="heading_small">{{ settings.success_heading | default: "You're in!" }}</h2>
              <p>{{ settings.success_code_part1 | default: "Use the code" }} <span id="promo-code"><strong>{{ settings.success_code | default: "WELCOME10" }}</strong></span> {{ settings.success_code_part2 | default: "at checkout for a discount on your first order!" }}</p>
              <a id="copy-code" href="#" class="button is-pink w-button">{{ settings.copy_code_button_text | default: "Copy code" }}</a>
          </div>
      </div>
  {% endform %}

</div>

<script>
// Utility functions to manage cookies
function setCookie(name, value, days) {
  var expires = "";
  if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + (value || "") + expires + "; path=/";
}

function getCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}

// Show popup logic
function showPopup() {
  gsap.set(popupWrapper, { display: 'flex', opacity: 0 });
  gsap.to(popupWrapper, { opacity: 1, duration: 1 });
  gsap.fromTo(popupContainer, { y: '100vh' }, { y: '0vh', duration: 1 });
}

// Hide popup logic
function hidePopup() {
  gsap.to(popupWrapper, { opacity: 0, duration: 1, onComplete: function() {
      gsap.set(popupWrapper, { display: 'none' });
  }});
}

// Initial setup
document.addEventListener('DOMContentLoaded', function() {
  var hasClickedPromoBtn = getCookie('promo_btn_clicked');
  var hasClosedPopup = getCookie('popup_closed');
  var popupWrapper = document.querySelector('.popup_container');
  var popupContainer = document.querySelector('.popup_container');
  var promoContentSuccess = document.querySelector('.popup_content.is-success');
  var promoBtn = document.getElementById('sudo-promo-btn');
  var closeBtn = document.querySelector('.popup_close');
  var copyCodeBtn = document.getElementById('copy-code');
  var promoCode = document.getElementById('promo-code').innerText;

  // Determine the popup state on page load
  if (!hasClickedPromoBtn && !hasClosedPopup) {
      showPopup();
  } else if (hasClickedPromoBtn && !hasClosedPopup) {
      showPopup();
      gsap.set(promoContentSuccess, { y: '0%' });
  } else if (!hasClickedPromoBtn && hasClosedPopup && new Date().getTime() - new Date(hasClosedPopup).getTime() > 24 * 60 * 60 * 1000) {
      showPopup();
  }

  // Promo button click event
  promoBtn.addEventListener('click', function(e) {
      e.preventDefault();
      setCookie('promo_btn_clicked', 'true', 30);
      document.getElementById('promo-form-btn').click();
  });

  // Close button click event
  closeBtn.addEventListener('click', function() {
      if (!hasClickedPromoBtn) {
          setCookie('popup_closed', new Date().toUTCString(), 1);
      } else {
          setCookie('popup_closed', 'true', 30);
      }
      hidePopup();
  });

  // Copy code button click event
  copyCodeBtn.addEventListener('click', function(e) {
      e.preventDefault();
      navigator.clipboard.writeText(promoCode).then(function() {
          alert('Promo code copied to clipboard');
      });
  });

  // Handle form submission success state
  var urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('form_type') && urlParams.get('form_type') === 'customer') {
      setCookie('promo_btn_clicked', 'true', 30);
      showPopup();
      gsap.set(promoContentSuccess, { y: '0%' });
  }
});


</script>

{% schema %}
{
"name": "Promo Popup",
"class": "offer-popup_wrapper",
"settings": [
  {
    "type": "text",
    "id": "promo_heading",
    "label": "Promo Heading",
    "default": "10% off your first order"
  },
  {
    "type": "textarea",
    "id": "promo_paragraph",
    "label": "Promo Paragraph",
    "default": "Subscribe to receive 10% off your first order, along with product updates and exclusive offers!"
  },
  {
    "type": "text",
    "id": "submit_button_text",
    "label": "Submit Button Text",
    "default": "submit"
  },
  {
    "type": "textarea",
    "id": "promo_disclaimer",
    "label": "Promo Disclaimer",
    "default": "By subscribing, you agree to receive marketing emails from us. You may unsubscribe at any time"
  },
  {
    "type": "text",
    "id": "success_heading",
    "label": "Success Heading",
    "default": "You're in!"
  },
  {
    "type": "textarea",
    "id": "success_code_part1",
    "label": "Success Code Part 1",
    "default": "Use the code"
  },
  {
    "type": "text",
    "id": "success_code",
    "label": "Success Code",
    "default": "WELCOME10"
  },
  {
    "type": "textarea",
    "id": "success_code_part2",
    "label": "Success Code Part 2",
    "default": "at checkout for a discount on your first order!"
  },
  {
    "type": "text",
    "id": "copy_code_button_text",
    "label": "Copy Code Button Text",
    "default": "Copy code"
  }
]
}
{% endschema %}
