<div class="hide w-embed"><style>body{
    --utility--body-fill: var(--color--pink-light) !important;
    --utility--product-medium: var(--color--lilac-medium) !important;
    --utility--product-dark: var(--color--lilac-dark) !important;
    --utility--product-light: var(--color--lilac-light) !important;
  }
  .page-wrapper,
  .main-wrapper,
  .main-wrapper {
    display: flex!important;
    flex-direction: column;
  }
  .page-wrapper {
    min-height: 100vh;
  }
  .main-wrapper {
    height: 100%;
    flex-grow: 1;
  }
  .footer {
    margin-top: auto;
  }
  .navbar_logo-link{
    color:var(--color--blue);
  }
  .login_video-wrapper {
    .button {
      background-color:var(--color--lilac-medium);
    }
  }
</style></div><div class="login_video-wrapper"><div class="login_component"><div id="w-node-_251a0302-30f1-acf8-369f-a9941875aec8-07f8c2df" class="login_left"><div id="w-node-_251a0302-30f1-acf8-369f-a9941875aec9-07f8c2df" class="login_tabs"><div class="login_form w-form">{% if form.errors %}    <div li-if="form.errors" class="error_message">
    <div li-object="form.errors | default_errors">{{ form.errors | default_errors }}</div>    </div>
{% endif %}<h1 li-object="'Account.Forms.Create-Account-Label' | t" class="heading_small">{{ 'Account.Forms.Create-Account-Label' | t }}</h1><div class="divider"></div>{% form 'create_customer' , return_to: '/pages/signup-confirmation', class: 'form_form' %}
<div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[first_name]" data-name="Field" placeholder="First Name*" type="text" id="field" required="" >

</div><div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[last_name]" data-name="Field" placeholder="Last Name*" type="text" id="field" required="" >

</div><div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[email]" data-name="Field" placeholder="Email-Address" type="email" id="field" required="" >

</div><div class="form_field-wrapper"><input class="form-input w-input" maxlength="256" name="customer[password]" data-name="Field" placeholder="Password" type="password" id="field" required="" >

</div><label class="w-checkbox form-checkbox"><input type="checkbox" name="" data-name="" required="" class="w-checkbox-input form-checkbox-icon">
<span li-object="'Account.Forms.Legal' | t" class="form-checkbox-label w-form-label">{{ 'Account.Forms.Legal' | t }}</span></label><label class="w-checkbox form-checkbox"><input type="checkbox" name="customer[accepts_marketing]" data-name="" class="w-checkbox-input form-checkbox-icon" >

<span li-object="'Account.Forms.Accept-Marketing' | t" class="form-checkbox-label w-form-label">{{ 'Account.Forms.Accept-Marketing' | t }}</span></label><input type="submit" data-wait="Please wait" li-object="'Forms.Register-Button' | t" id="w-node-_251a0302-30f1-acf8-369f-a9941875aee1-07f8c2df" class="button is-full w-button" value="Register now">
{% endform %}
<div class="divider"></div><div><span li-object="'Account.Forms.Existing-Account-Label' | t">{{ 'Account.Forms.Existing-Account-Label' | t }}</span><a href="{{ routes.account_login_url }}" li-object:href="routes.account_login_url" class="ts_underline">Login now</a></div><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="login_hinweis-kachel w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div></div><video class="video is-account" autoplay="true" muted="" loop="" playsinline="true"><source src="https://cdn.shopify.com/videos/c/o/v/7179c7c405c445b298986ce068a02228.mp4" type="video/mp4">
</video></div>

{% schema %}
    {"tag":"section","name":"register","class":"section_login","settings":[],"presets":[{"name":"register","category":"Liquify"}]}
{% endschema %}
